/* Main */
body {
   font-family: sans-serif;
   background-color: #2AABE4;
   margin: 0;
}

.section {
   margin: 10px;
}

#main-header {
    text-align: center;
 }

/* Secondary */
.header {

}

#nav-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.nav-item {
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   flex: 1 1 auto;
   min-width: 100px;
   width: 200px;
   max-width: 300px;
   padding: 5px;
   text-decoration: none
}

.nav-item:hover {
   background-color: #FFCD24;
}

figure img {
   border: solid 1px;
   border-radius: 5px;
   width: 450px;
   height: 200px;
   margin: 10px 0;

}

.imgs-div {
   display: flex;
   margin: 10px;
   justify-content: space-around;
   flex-wrap: wrap;
   align-content: space-around;
}

figure {

}

figcaption {
   text-align: center;
}

.achieve {
   text-align: center;
}

.warning {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: larger;
}

.warning-img {
   width: 30px;
   margin-bottom: 3px;
}

#footer {
   background-color: darkgray;
}

/* High priority */
.nav-item.active {
   background-color: chocolate;
}
#projects-div {
   display: flex;
   flex-direction: column-reverse;
}







