/* Main */
body {
   font-family: sans-serif;
}

.section {
   margin: 10px;
}

#main-header {
    text-align: center;
 }

/* Secondary */
.header {

}

#nav-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center
}

.nav-item {
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   width: 10em;
   height: 1.75em;
   background-color: silver;
   margin: 3px;
   padding: 5px;
   text-decoration: none
}


figure img {
   border: solid 1px;
   border-radius: 5px;
   width: 450px;
   height: 200px;
   margin: 10px 0;

}

.imgs-div {
   display: flex;
   margin: 10px;
   justify-content: space-around;
   flex-wrap: wrap;
   align-content: space-around;
}

figure {

}

figcaption {
   text-align: center;
}

.achieve {
   text-align: center;
}
/* High priority */
.active {
   background-color: chocolate;
}
#projects-div {
   display: flex;
   flex-direction: column-reverse;
}







