/* Main */
body {
   font-family: sans-serif;
   background-color:  #1F2833;
   margin: 0;
   color: white;

}

.section {
   margin: 10px;
}

#main-header {
   text-align: center;
   color: #66FCF1;
   font-size: 50px;
 }

#in-content {
   padding: 10px;
}

/* Secondary */
.header {
   text-align: center;
}

#nav-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

}

.nav-item {
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   flex: 1 1 auto;
   min-width: 100px;
   width: 250px;
   max-width: 300px;
   padding: 5px;
   text-decoration: none;
   border: solid #1F2833;
}

.nav-item:hover {
   background-color: #45A29E;
   border: solid #45A29E;
}
.nav-item:visited {
   color: white;
}

figure img {
   border: solid 1px;
   border-radius: 5px;
   width: 450px;
   height: 200px;
   margin: 10px 0;

}

.imgs-div {
   display: flex;
   margin: 10px;
   justify-content: space-around;
   flex-wrap: wrap;
   align-content: space-around;
}

figcaption {
   text-align: center;
}

.achieve {
   text-align: center;
}

.warning {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: larger;
   margin: 20px;
   padding: 20px;
}

.warning-img {
   width: 30px;
   margin-bottom: 3px;
}



p {
   color: #C5C6C7;
   text-align: justify;
}

.section ul {
   color: #C5C6C7;
}

h3{
   margin-left: 1%;
}

/* High priority */
.nav-item.active {
   border: solid #66FCF1;
}

#projects-div {
   display: flex;
   flex-direction: column-reverse;
}

#footer {
   background-color: #45A29E;
   color: white;
}

#footer a{
   text-decoration: none;
   color: #1F2833
}

#contact-links{

}

#contact-links img {
   width: 40px;
   margin: 20px;
}

#footer ul {
   color: #1F2833;
}






